[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hazel/vendor/glfw"]
	path = Hazel/vendor/glfw
	url = https://github.com/sselicrem/glfw.git
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/sselicrem/imgui.git
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = https://github.com/sselicrem/glm.git
[submodule "Hazel/vendor/yaml-cpp"]
	path = Hazel/vendor/yaml-cpp
	url = https://github.com/sselicrem/yaml-cpp.git
[submodule "Hazel/vendor/ImGuizmo"]
	path = Hazel/vendor/ImGuizmo
	url = https://github.com/sselicrem/ImGuizmo.git
